.InfoBox {
    text-align: center;
    margin-top: 20px;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.InfoBox h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}
